@model IEnumerable<AppUser>
<br/>
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">User List </h2>
    </div>
</div>
<div class="p-4 border rounded">
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    Email
                </th>
                <th>
                    Roles
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Role
                    </td>
                    <td>
                        <div class="text-center">
                            <a asp-action="Edit" asp-controller="User" asp-route-userId="@item.Id" class="btn btn-info text-white">Edit</a>
                            <a asp-action="ChangePasswd" asp-controller="User" asp-route-userId="@item.Id" class="btn btn-info text-white">Change password</a>

                            @if (item.LockoutEnabled)
                            {
                                <a asp-action="LockAccount" asp-controller="User" asp-route-userId="@item.Id" class="btn btn-info text-white">Lock</a>
                            }
                            else
                            {
                                <a asp-action="UnlockAccount" asp-controller="User" asp-route-userId="@item.Id" class="btn btn-info text-white">Unlock</a>
                            }

                            <a asp-action="DeleteAccount" asp-controller="User" asp-route-userId="@item.Id" class="btn btn-info text-white">Delete</a>


                        </div>
                    </td>
                </tr>
            }
        </table>
    }
</div>